---
layout: landing
title: The Caterpillar Project
subtitle: Understanding the Building Blocks of the Milky Way.
description: "Describe this nonsense."
tags: [dark matter, galaxies, milky way, galaxy formation, dwarf galaxies, stars]
comments: false
image:
  feature: parentsim.png
  cre3dit: Caterpillar Collaboration
---

{% for post in paginator.posts %}
<article class="lentry">
  <header>
    {% if post.image.feature %}
      <div class="entry-image-index">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
      </div><!-- /.entry-image -->
    {% endif %}
  </header>
</article><!-- /.hentry -->
{% endfor %}
