<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
	<button class="dl-trigger">Open Menu</button>
	<ul class="dl-menu">

		<li><a href="{{ site.url }}/">Home</a></li>
		<li><a href="{{ site.url }}/about/">About</a></li>
		<li>
			<a href="#">News</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/posts/">By Date</a></li>
				<li><a href="{{ site.url }}/tags/">By Topic</a></li>
			</ul>
		</li>
		<li><a href="{{ site.url }}/projects/">Projects</a></li>
		<li><a href="{{ site.url }}/publications/">Publications</a></li>
		<li><a href="{{ site.url }}/team/">Team</a></li>
		<li><a href="https://docs.caterpillarproject.org">Docs</a></li>
		

	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
